
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Primary colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral colors
$main-background: hsl(217, 54%, 11%);
$card-background:hsl(216, 50%, 16%);
$design-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Typography
$font-size: 18px;
$font-family: 'Outfit', sans-serif;

